<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Makes "field" always required.</title>
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">

</head>
<body>
<form id="registerForm">
<label for="fullname">Fullname </label>
<input type="text" class="left" id="fullname" name="fullname">
<br/>
<label for="email">Email </label>
<input type="email" class="left" id="email" name="email">
<br/>
<label for="phone">Phone </label>
<input type="number" class="left" id="phone" name="phone">
<br/>
<label for="profile_pic">Profile </label>
<input type="file" class="left" id="profile_pic" name="profile_pic">
<br/>
<input type="submit" value="Submit">
</form>
<!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>-->
<!--<script>-->
<!--// just for the demos, avoids form submit-->
<!--jQuery.validator.setDefaults({-->
<!--  debug: true,-->
<!--  success: "valid"-->
<!--});-->
<!--$( "#myform" ).validate({-->
<!--  rules: {-->
<!--    field: {-->
<!--      required: true-->
<!--    }-->
<!--  }-->
<!--});-->
<!--</script>-->
</body>
</html>